@page "/"

@using FeedbackVU.Data
@using FeedbackVU.Data.Entities
@inject WeatherForecastService ForecastService

<h1>Lecturers and subjects</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lecturer in lecturers)
        {
            <tr>
                <td>@lecturer.Id</td>
                <td>@lecturer.Name</td>
                <td>@lecturer.Subjects</td>
            </tr>
        }
    </tbody>
</table>


@code {
    List<Lecturer> lecturers = new List<Lecturer>()
{
        new Lecturer()
        {
            Id = 0,
            Name = "Mitasiunas",
            Subjects = "Komparchas"
        },
        new Lecturer()
        {
            Id = 1,
            Name = "Skersys",
            Subjects = "Diskrecioji"
        }
    };

}
